*{
    margin: 0;
    padding: 0;
    font-size: 0;
}
body{
    height: 100vh;
}
a{
    color: #424242;
    text-decoration: none;
}
.wrapperdiv{
    position: relative;
    width: 100vw;
    min-height: 100vh;
   
    background: rgb(255, 255, 255);
}
.wraper{
    position: absolute;
    width: 200%;
    left: 0;
    min-height: 100vh;
    background: #fff;
}

.wraper>div{
    box-sizing: border-box;
    position: absolute;
}
.wraper-left{
    
    width: 100vw;
    height: inherit;
    
}

.left-top{
    
    width: 80vw;
    margin: auto;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.hit-div{
    display: inline-block;
    width: 20vw;
    text-align: center;
}

.hit-div .hit{
    display:block;
    font-size: 4vw;
    font-weight: 100;
    padding: 2vw;
    border-radius: 2vw;
    background: rgb(69, 164, 228);
    color: #fff;
    cursor: pointer;
}
.hit-div .active{
    background: none;
    border: #666 1px solid;
    color: #424242;
}

div[class^="day"]{
    height: 60%;
    width: 30%;
}

div[class^="day"]>span{
    display: block;
    margin-right: 3vw;
    text-align: center;
}
span[class$="-nums"]{
    font-size: 9vw;
    color: #424242;
}
span[class$="-text"]{
    color: rgb(194, 194, 194);
    font-size: 4vw;
}
div[class^="dayHit"]{
    border-right: 1px solid rgb(170, 170, 170);
}




[class^=ul-child]{
    background: #ffffff;
    color: #424242;
    padding: 0 15vw;
    display: none;
    font-size: 4vw;
}
[class^=ul-child] li{
    padding-top: 2vw;
    font-size: 4vw;
}
[class^=ul-child] li:last-child{
    padding-bottom: 4vw;
}
[class^=ul-child] li:active{
    color: rgb(69, 164, 228);
}

.wrapper-ul{

    box-sizing: border-box;
    width: 90%;
    padding: 5vw 4vw;
    border: #acacac solid 1px;
    border-radius: 4px;
    margin: 5vh auto 0 auto;
}
.ul-list{
    border-top: 2px solid #eee;
}
.ul-list>ul{
    list-style: none;

}
.nav{
    font-weight: 500;
    font-size: 4.5vw;
    padding: 3vw 4vw;
    border-top: 1px solid #acacac;
}
.nav:first-of-type{
    border-top: none;
}
.nav:last-of-type + ul:last-child{
    border-bottom: 1px solid #acacac;
}
.nav a{
    font-size: 4.5vw;
}

i.iconfont{
    margin-right: 1em;
}
.icon-moreunfold, .icon-less{
    float: right;
}
.mine-over{
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    opacity: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.mine{
    left: 100vw;
    width: 100vw;
    height: inherit;
    min-height: 100vh;
}
.mine-top{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50vw;
    background-image: url(../images/usericon.jpg);
    background-size: cover;
    background-position: center;
}
.cover{
    width: 100%;
    height: 100%;
    background: rgba(29, 50, 77, 0.8);
}
.user{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.icon{
    background-image: url(../images/usericon.jpg);
    background-position: center;
    background-size: cover;
    width: 20vw;
    height: 20vw;
    margin: 5% auto 1% auto;
    border-radius: 50%;
    border: 1px solid #fff;
}
.username-title{
    display: block;
    font-size: 4.5vw;
    color: #fff;
}
.span-title{
    line-height: 7vh;
    color: #ffffff;
    font-size: 3.5vw;
    font-weight: 100;
}

.mine-list ul li{
    font-size: 4.5vw;
    list-style: none;
    color: #666;
    background: #fff;
}
.mine-list{
    box-sizing: border-box;
    width: 90%;
    padding: 5vw 4vw;
    border: #acacac solid 1px;
    border-radius: 4px;
    margin: 5vh auto;
}
.mine-nav{
    padding: 3vw 4vw;
    border-top: 1px solid #acacac;
}
.mine-nav:first-of-type{
    border-top: none;
}
.mine-nav:last-of-type{
    border-bottom:  none;
}
.mine-nav-count{
    font-size: 4.5vw;
    color: rgb(69, 164, 228);
    float: right;
    
}


.logindiv{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 1);
}
.login-title{
    display: block;
    text-align: center;
    width: 80%;
    margin: 15% auto;
    font-size: 8vw;
    font-weight: 100;
}

.username, .password, .submit, .notic{
    display: block;
    width: 80vw;
    padding: 3vw;
    font-size: 5vw;
    font-weight: 100;
    color:#424242;
    margin: 8% auto;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}

.submit{
    background: rgb(68, 170, 238);
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 4.5vw;
    border: none;
}
.notic{
    border: none;
    padding-top:0;
    padding-bottom: 0; 
    margin-top: -2em;
    color: red;
    font-size: 3vw;
    font-weight: 400;
    display: none;
}




.test-group{
    display: none;
    box-sizing: border-box;
    position: absolute;
    background: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    top: 0;
}
.test-top{
    position: relative;
    width: 100vw;
    height: 10vh;
    
}
.test-top div{
    position: relative;
    box-sizing: border-box;
    font-size: 5vw;
    
    padding: 0 2vh 0 0;
    width: 100vw;
    font-weight: 100;
    color: #fff;
}
.test-nav{
    background:rgb(68, 170, 238);
    height:6vh;
    line-height: 6vh;
}
span.home{
    font-size: 5vw;
    padding: 2vw;
    box-sizing: border-box;
    width: 2vw;
    height: 2vw;
}
div.test-content{
    font-size: 4vw;
    background:  #424242;
    height: 8vw;
    line-height: 8vw;
    
    padding: 0 2vw 0 2vw;
}
.navtime , .navnum{
    font-size: 2.5vh;
    float: right;
}
.navnum{
    color: #fff;
    font-size: 2vh;
}


.testHere{
    position: relative;
    width: 1000vw;
    height: 85vh;
}
.question, .error-div{

    position: relative;
    box-sizing: border-box;
    padding: 4vw;
    width: 100vw;
    height: 100%;
    background: #eaf1f5;
}
.question{
    float: left;
}

.question span.Collection{
    position: absolute;
    bottom: 10vw;
    right: 10vw;
    font-size: 5vw;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    color: rgb(68, 170, 238);
    font-size: 8vw;
    line-height: 10vw;
    text-align: center;
}
.test-title, .error-test-title{
    font-size: 4.5vw;
}
.checkdiv, .error-checkdiv{
    width: 100%;
    margin-top: 5%;
}
.checkItem span, .error-checkItem span{
    font-size: 4vw;
    vertical-align: middle;
}
.checkItem, .error-checkItem{
    margin: 4vw;
}
.checkItem:active{
    background: rgba(68, 170, 238, .2);
    border-radius: 4px;
}
.checkText, .error-checkText{
    display: inline-block;
    width: 85%;
}
.checkBtn, .error-checkBtn{
    display: inline-block;
    border: 1px solid rgb(68, 170, 238);

    width: 8vw;
    height: 8vw;
    line-height: 8vw;
    border-radius: 50%;
    text-align: center;
    margin-right: 2vw;
}
.from-answer{
    display: none;
    width: 100%;
    margin-top: 10%;
}
.from-answer::before, .error-show{

    content: "答案及解析";
    display: block;
    width: 100%;
    font-size: 4vw;
    height: 8vw;
    margin: 2em 0;
    line-height: 8vw;
    text-align: center;
    color: #424242;
    border: #6c7b8d solid 1px;
    border-radius: 4px;
}


.form, .answer-div, .answer-div p{
    font-size: 3.5vw;
    color: #888;
    line-height: 6vw;
}
.form::before{
    content: "form：";
    color: #666;
}
.about::before{
    content: "考点：";
    color: #666;
}
.answer::before{
    content: "参考答案：";
    display: block;
    color: #666;
}

.bouns{
    position: absolute;
    bottom: 0;
    height: 6vh;
    width: 100vw;
    overflow: hidden;
}
.bouns span{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 4vw;
    
    height: 100%;
    line-height: 6vh;
    padding: 0 5vw;
}


.bouns-prev, .bouns-next, .submitTest{
    width: 50%;
    background: rgb(68, 170, 238);
    color: #fff;
    line-height: 6vh;
    cursor: pointer;
}
.submitTest{
    display: none;
}
.overDiv{
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .2);
}
.prompt, .checkSub{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 80vw;
    height: 40vw;
    background: #fff;
    border-radius: 2vw;
    text-align: center;
}

span.checkSub-text, span.prompt-text, .prompt-no, .prompt-yes, .prompt-again, .result-exit, .result-go,.checkSub-no, .checkSub-yes{
    font-size: 4.5vw;
    color: #424242;
    border-radius: 4px;
}
span.prompt-text, span.checkSub-text{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    padding: 10vw;
    
}
.checkSub-no, .checkSub-yes, .prompt-no, .prompt-yes, .prompt-again, .result-exit, .result-go{
    width: 30%;
    border: none;
    padding: 1vw 5vw;
    outline: none;
}
.checkSub-yes, .prompt-yes, .prompt-again, .result-go{
    margin-left: 5vw;
    color: #fff;
    background: rgb(68, 170, 238);
}
.checkSub-yes, .prompt-yes{
    display: inline-block;
}
.prompt-again{
    display: none;
}


.submitTestDiv{
    display: none;
    background: rgba(0, 0, 0, .2);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}
.result{
    display: none;
    position: absolute;
    box-sizing: border-box;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    width: 80%;
    height: 60%;
    border-radius: 2vw;
    padding: 4vw;
}
.result>span, .result p{
    font-size: 4vw;
}
.result p{
    margin-top: 10vw;
    padding: 2vw;
    color: #666;
    margin-bottom: 5%;
}
.resultBtnDiv{
    width: 100%;
    height: 35%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background:  #f5f5f5;
    border-radius: 2vw;
}
.resultBtnDiv span{
    font-size: 4vw;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    line-height: 10vw;
    text-align: center;
    color: #fff;
    margin: 2%;
    border-radius: 50%;
    
}
.istrue{
    background: rgb(68, 170, 238);
}
.isfalse{
    background: red;
}
.ischecked{
    background: rgb(68, 170, 238);
    color: #fff;
}
.resultBtnDeal{
    text-align: center;
    margin-top: 20%;
}

.check-list{
    display: none;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: -100vw;
    width: 100vw;
    border-right: 1px solid #acacac;
    height: 100vh;
    background: rgb(255, 255, 255);
}
.search-div{
    height: 10vw;
    text-align: center;
    padding: 2vw;
    background: rgb(68, 170, 238);
}
.icon-bussinessman{
    
    color: #fff;
    margin-left: 1em;
}
.search-div input{
    box-sizing: border-box;
    width: 90%;
    height: 10vw;
    font-size: 3.5vw;
    border: none;
    padding-left: .5em;
    border-radius: 4px;
    outline: none;

}
.check-search{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: #eaf1f5;
}

.check-search-items{
    box-sizing: border-box;
    padding: .5em;
    width: 100%;
    height: 4em;
    font-size: 4vw;
    background: #fff;
    margin-top: .5em;
}
.search-items{
    font-size: 4vw;
    color: #424242;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.items-type{
    width: 100%;
    font-size: 4vw;
    height: 1.5em;
    line-height: 1.5em;
}

.items-type span{
    font-weight: 100;
    font-size: 3.5vw;
    padding: 0 .8em;
    color: #888;
    border-left: 1px solid #eaf1f5;
}

.check-error-over{
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, .5);
}
.error-div{
    height: 100vh;
    background: #eaf1f5;
}

.error-btn{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.error-btn button{
    font-size: 4.5vw;
    padding: .5em;
    width: 50%;
    border: none;
    outline: none;
    color: #fff;
    background:#dd3636
}
.error-btn button:first-child{
    background: #424242;
}
.error-top{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 2.5em;
    line-height: 2.5em;
    background: #424242;
    color: #fff;
    font-size: 4.5vw;
    padding: 0 1em;
}
.error-test-title{
    margin-top: 2.5em;
}
.error-from-answer{
    display: none;
}
.error-show:active{
    background: #acacac;
    color: #fff;
}
